.shopping-cart-list-body {
    width: 49%;
    /* height: clamp(400px, 90%, 525px); */
    /* height: 100%; */
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.coles-header {
    background-color: #ed1c22;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.woolies-header {
    background-color: #108745;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.shop-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
    margin: 0.5% 0;
}

.shopping-cart-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: black;
    margin: 10px 10px 10px 10px;
}

.shopping-list-grid {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 10px;
    min-height: 0;
    height: 82.5%;
    max-height: 470px ;

    overflow-y: scroll;
}

@media (max-width: 1400px) {
    .shopping-list-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px) {
    .shopping-cart-list-body {
        width: 100%;
        /* max-height: 465px; */
    }
}