.search-flex{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.item-search-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-grow: 1; */
  /* max-height: 515px; */
}

.item-search-header {
  /* background-color: black; */
  height: 3%;
  padding: 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.cart-divider {
  display: block;
  border-left: 1px solid black;

  /* width: 1px; */
  height: 100%;
  /* margin:; */
  /* margin: 0 5%; */
}

.item-search-box {
  background-color: #eeeeee;
  width: 90vw;
  /* height: 80vh; */

  border-radius: 1%;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  .item-search-box {
      height: 1100px;
      flex-direction: column;
  }
  .custom-divider {
    padding-bottom: 1px;
  }
  .item-search-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: space-evenly; */
      /* flex-grow: 1; */
      /* max-height: 500px;   */
  }
}

.custom-divider {
  width: 100%; /* Ensure the divider spans the full width */
  height: 1px;
  background-color: #ccc;
  margin: 0;
  margin-top: 5px;
}

.search-sort-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 651px) {
  .search-sort-filter {
    flex-direction: column;
    justify-content: flex-start;

  }

  #search-products-filter-sort {
    margin-right: 10px;
  }
}

#search-products-filter-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Optional: to vertically center the content */
  margin-right: 10px;
}

#category-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  margin-left: 15px;
  margin-right: 10px;
  /* position: relative;
  top: 20px;  */
}

#category-filter h2 {
  margin: 0; 
  padding-right: 10px; 
}