.add-item-button {
  padding: 3px;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  align-items: center;
}

/* Green button for Woolies */
.green-button {
  background-color: #188840;
}

/* Red button for Coles */
.red-button {
  background-color: #DF1923;
}

/* Default button style if no store matches */
.default-button {
  background-color: gray; /* Optional default color */
}
