/* Card container */
.search-item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: clamp(200px, 50%, 220px);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;

  height: 300px;
}

/* Item name and heart side by side */
.search-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  padding-bottom: 2px;
}

.search-item-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1; /* Ensures item name takes up remaining space */
}

/* Heart button styling */
.heart {
  padding: 0;
}

/* Image styling */
.search-item-image {
  width: auto;
  height: 220px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 8px;
}

/* Price and AddItemButton row */
.search-item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding-top: 5px;
}

.search-item-price {
  font-size: 20px;
  margin: 0;
}

.add-minus-search-item {
  width: 48px;
}