.primary-button {
  background-color: #5D8D7E;
  padding: 0.8% 1% 0.8% 1%;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  color: white;
}

.primary-button:hover {
  background-color: #568375;
}