.shopping-cart-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-grow: 1; */
    /* max-height: 515px; */
}

.shopping-cart-total {
    /* padding-top: 20px; */
    position: relative;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: black;
}

.shopping-cart-flex{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.cart-divider {
    display: block;
    border-left: 1px solid black;

    /* width: 1px; */
    height: 100%;
    /* margin:; */
    /* margin: 0 5%; */
}

.shopping-cart-box {
    background-color: #eeeeee;
    width: 90vw;
    /* height: 80vh; */

    border-radius: 1%;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (max-width: 750px) {
    .shopping-cart-box {
        height: 1100px;
        flex-direction: column;
    }
    .shopping-cart-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-evenly; */
        /* flex-grow: 1; */
        /* max-height: 500px;   */
    }

    .shopping-cart-total {
        padding-top: 0;
    }
}

@media (max-width: 1400px) {
    .shopping-cart-total {
        padding-top: 0;
    }
}